crudUV/src/main/resources/esquema.xsd

<?xml version="1.0"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://t4is.uv.mx/saludos" xmlns:tns="https://t4is.uv.mx/saludos" elementFormDefault="qualified">
<xs:element name="Profesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Altas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nombre" />
              <xs:element name="ApellidoPaterno" />
              <xs:element name="ApellidoMaterno" />
              <xs:element name="Edad" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Bajas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nombre" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Modificaciones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nombre" />
              <xs:element name="Apellido" />
              <xs:element name="NewNombre" />
              <xs:element name="ApellidoPaterno" />
              <xs:element name="ApellidoMaterno" />
              <xs:element name="Edad" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="Alumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Altas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nombre" />
              <xs:element name="ApellidoPaterno" />
              <xs:element name="ApellidoMaterno" />
              <xs:element name="Carrera" />
              <xs:element name="Edad" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Bajas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nombre" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Modificaciones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nombre" />
              <xs:element name="Apellido" />
              <xs:element name="NewNombre" />
              <xs:element name="ApellidoPaterno" />
              <xs:element name="ApellidoMaterno" />
              <xs:element name="Carrera" />
              <xs:element name="Edad" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="Salon">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Altas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Numero" />
              <xs:element name="Edificio" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Bajas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Numero" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Modificaciones">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Numero" />
              <xs:element name="NuevoNumero" />
              <xs:element name="Edificio" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>