Mostrar/src/main/resources/esquema.xsd

<?xml version="1.0"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://t4is.uv.mx/escuela" xmlns:tns="https://t4is.uv.mx/escuela" elementFormDefault="qualified">
<xs:element name="MostrarRequest">
</xs:element>
<xs:element name="MostrarResponse">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Respuesta" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>